/* index */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#indexBody {
  background-color: #15719f;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a.active {
  text-decoration: underline;
  font-weight: bold;
}

.pages {
  display: flex;
  justify-content: left;
  padding: 10px;
  font-size: 20px;
  line-height: 35px;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.795);
}

.page1 {
  color: white;
}

.search-container-index {
  text-align: center;
  max-height: 30px;
}

.search-container-others {
  margin-top: 20px;
}

#mainInfo {
  height: 210px;
  padding: 0;
  margin: 0;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.indexTemperature {
  font-size: 80px;
  margin-left: 50px;
  margin-top: 20px;
}

.indexChanceOfRain {
  font-size: 21px;
  margin-left: 10px;
  width: 172px;
}

.indexDescrip {
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 10px;
}

.otherdescrip {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

.iconNTemp {
  display: flex;
}

.mainInfoTemp {
  width: 180px;
  height: 250px;
}

.indexWeatherIcon {
  width: 370px;
  height: 250px;
  margin-right: 50px;
  align-content: center;
  padding: 10px;
}

.weather-conditions {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.air-conditions {
  background-color: #528ab4;
  padding: 20px;
  border: none;
  width: 200px;
  height: 120px;
  text-align: center;
  margin-left: 10px;
  border-radius: 8px;
}

.air-conditions dt {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.air-conditions dd {
  text-align: center;
  margin-top: 15px;
  color: white;
}

#city-name {
  height: 242px;
}

#time-forecast,
#conditions {
  height: 140px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sec-heading {
  font-size: 20px;
  text-align: center;
}

.weather-output {
  height: 360px;
}

.weatherIconIndex {
  margin-left: 900px;
}

.city-dropdown {
  background: url("images/search\ icon.png") no-repeat right;
  background-position: 20px;
  background-size: 45px;
  background-color: white;
  width: 650px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 10px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 20px;
  margin-top: 9px;
  max-height: 150px;
  overflow-y: auto;
}

/* Contact Us */

#submitBtn {
  background-color: rgb(17, 151, 205);
  color: white;
  height: 45px;
  width: 115px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
}

.contactForm {
  /* font-size: 20px; */
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  line-height: 26px;
  margin-bottom: 10px;
  padding-right: 65px;
}

.contactUsInput {
  width: 40%;
  height: 30px;
  border-radius: 4px;
  flex: 0 0 200px;
  margin-left: 35px;
  margin-bottom: 15px;
  font-size: 18px;
}

.contactUsOutput {
  font-size: 22px;
}

#contact1 {
  border: 2px solid white;
  background-color: white;
  padding: 60px;
  margin: 10px;
  border-radius: 8px;
  margin-left: 40%;
}

#contactusBody {
  background-image: url(images/background\ of\ contact\ us.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#ContactusHtml,
#contactusBody {
  height: 100%;
  min-height: 100%;
}

.multilineTextbox {
  height: 80px;
}

/* cities */

#citiesBody {
  background-image: url(images/thunder_sun.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* maps */

#map1 {
  width: 500px;
}

#map {
  width: 1900px;
}

#mapDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map1,
#map {
  border-radius: 8px;
  padding: 60px;
  margin: 10px;
  height: 500px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: #24283a;
}

#mapBody {
  background-color: #0c0404;
  margin: 0;
  padding: 0;
  color: white;
}

#mapBody {
  margin: 0;
  padding: 0;
}
/* mapNweek */

.mapNweek {
  font-size: 120px;
  width: 500px;
}

.mapNweekMainTemp {
  height: 220px;
  width: 300px;
  padding: 20px;
}

.mapNweekTemp {
  font-size: 80px;
}

.mapNweekRain {
  font-size: 21px;
}
.mapNweekDescrip {
  font-size: 20px;
}
.mapNweekDate,
.mapNweekCity {
  font-size: 18px;
}

.mapNweekIcon {
  height: 180px;
  width: 300px;
  padding: 20px;
  margin-left: 120px;
}

/* week */

#week_1,
#week_2 {
  border-radius: 8px;
  padding: 30px;
  margin: 10px;
  height: 500px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

#week_1 {
  width: 500px;
}

#week_2 {
  width: 1900px;
}

#weekDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#week {
  background-color: #102849;
  margin: 0;
  padding: 0;
  color: white;
}

.box {
  padding: 20px;
  width: 100px;
  background-color: #242b4b;
  height: 165px;
  width: 176px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: inline-block;
  gap: 20px;
  justify-content: center;
}

#weekContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #weekN1,
#weekN2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  place-items: center;
} */


#week_2 {
  background-color: #35475f;
}












#weekInIndex{
  margin-left: 40px ;
  margin-right: 40px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 35px;
}

.weekInIndexContainer{
  margin-top: 30px;
  display: flex;
  
  
  
}

.indexBox {
  padding: 20px;

  background-color: #242b4b;
  height: 180px;
  width: 190px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 8px;
  
  gap: 20px;
  justify-content: center;
}